<%- include('partials/_header', {pagename:'Home', currentUser:currentUser}); %>


<main>
  <h2>
    Welcome <%=currentUser.name??currentUser.googleId%>, you are logged in.
  </h2>
</main>



<%- include('partials/_footer', {}); %>