<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <div class="row m-0 p-0">
    <h1 class="h5 m-0 p-0">Dashboard &emsp;</h1>
    <h1 class="h5 m-0 p-0"><span class="material-icons">chevron_right</span></h1>
    <h1 class="h5 m-0 p-0">&emsp; <%- pagename %></h1>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <!-- <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button> -->
    </div>
  </div>
</div>